{% if expenses %}

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        {% for expense in expenses %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="{% if expense.checked %} text-success text-decoration-line-through {% endif %}">
                {{ expense.title }}
            </div>
            <div>
                <span class="action badge rounded-pill text-bg-warning" hx-get="{% url 'mark-expense' expense.pk %}"
                  hx-target="#expenseList" style="cursor: pointer;">✔</span>
                <span class="action badge rounded-pill text-bg-danger" hx-delete="{% url 'delete-expense' expense.pk %}"
                  hx-target="#expenseList" hx-confirm="Are you sure you wish to delete?" style="cursor: pointer;">X</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% else %}

<h5>Currently, you don't have any expenses.</h5>

{% endif %}